* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100vw;
  background-color: grey;
}

.nav-main {
  height: 10vh;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .nav-main {
    flex-direction: column;
  }
}
